.founder {
    
    justify-content: space-around;
    background-color: #2ea6dd;
    color: white;
    margin-left: 100px;
    margin-right: 100px;
    padding: 40px;
    padding-left: 100px;
    border-radius: 40px;

}
.karusel-left {
    display: inline-block;
    
}
.boss {
    margin: 0;
    margin-bottom: 5px;
}

.line2 {
    width: 50px;
    height: 2px;
    background-color: #fff;
}

.ceo {
    padding-top: 10px;

}

.circle {
    list-style-type: none;

}

.block {
    display: inline-block;
    vertical-align: top;
    width: 300px;
}

.photo-ceo {
    text-align: left;
}

.slide-page {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 50px;
}