.skin {
    text-align: center;
}

.skincare {
    display: flex;
    margin-left: 50px;
}

.doctors-lead {
    margin-bottom: 0;
}
.doctors-text {
    margin-top: 10px;
    margin-bottom: 25px;
}

.view-button {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.healthcare-list {
    list-style-type: none;
    padding: 0;
}
.list-healthcare {
    margin: 15px;
}