.page-info {
    display: flex;
    margin-top: 100px;
    margin-left: 100px;
    margin-bottom: 100px;
}
.page-info__lead {
    width: 300px;
    margin-bottom: 0;
}
.page-info__text {
    width: 420px;
    line-height: 1.5;
    margin-bottom: 25px;
}
.page-info__text2 {
    width: 500px;
    line-height: 1.5;
    margin-bottom: 25px;
}
