.navbar {
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.navbar-list {
    list-style-type: none;
    font-size: 18px;
    padding-left: 0;
    display: flex;
    align-items: center;
}

.nav-link-active {
    text-decoration: none;
    color: rgb(115, 108, 146);

}

.nav-link {
    color: rgb(183, 194, 194);
    text-decoration: none;
    font-weight: 100px;
}
.header-left {
    display: inline-block;
    width: 140px;
    margin-left: 100px;
    margin-right: 450px;
}

.header-right {
    list-style-type: none;
    display: inline-block;
    font-size: 18px;
    display: flex;
    align-items: center;
}

.navbar-items {
    display: inline-block;
    margin-left: 10px;
}
select {
    margin: 2px;
}
.light {
    background-color: #fff;
    color: #000;
}
.dark {
    background-color: rgb(78, 80, 107);
    color: #fff;
}