.footer-logo {
    list-style-type: none;
    padding: 0;
    margin-left: 100px;
}
.footer-logo__text {
    width: 400px;
}
.site-end-link {
    text-decoration: none;
    color: #fff;
}
.site-end {
    display: flex;
    margin: auto;
    background-color: rgb(46, 157, 221);
    color: white;
}
.footer-nav {
    margin-left: 300px;
    display: flex;

}
.list-type {
    list-style-type: none;
  
}